body {
  padding: 60px;
}
.widget {
  position: relative;
  width: 200px;
  height: 526px;
}
.widget .widget-sheet {
  max-width: 100%;
  max-height: 100%;
}
.widget .widget-clip {
  position: absolute;
  top: -50px;
  left: 57px;
  z-index: 2;
}
.widget .widget-container {
  position: absolute;
  width: 180px;
  height: 427px;
  top: 7px;
  left: 3px;
}
.widget .widget-container .widget-strips .widget-strip {
  background-color: #fed136;
  width: 100%;
}
.widget .widget-container .widget-strips div:nth-of-type(1) {
  height: 30px;
}
.widget .widget-container .widget-strips div:nth-of-type(2) {
  margin-top: 15px;
  height: 8px;
}
.widget .widget-container .widget-strips div:nth-of-type(3) {
  margin-top: 10px;
  height: 3px;
}
.widget .widget-container .widget-icon {
  display: block;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  max-height: 117px;
}
.widget .widget-container .widget-separator1 {
  background-color: rgba(0, 0, 0, 0.1);
  width: 80px;
  height: 6px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  border-radius: 50%;
  filter: blur(2px);
}
.widget .widget-container .widget-text h1 {
  color: #fed136;
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: 18pt;
  text-shadow: 1px 1px #C6B00E;
  text-align: center;
  margin-top: 30px;
}
.widget .widget-container .widget-text p {
  padding: 0 5px 0 5px;
  color: #777777;
  font-family: Arial, sans-serif;
  font-size: 12pt;
  text-align: center;
}
